:root{
    /*Base Styling*/
    --input-border-rounded: 0.25vw;
    --input-border-rounded-mobile: 1vw;
    --light-mode-background: hsl(0, 0%, 99%);
    --light-mode-input:hsl(0, 0%, 50%);
    --light-mode-text: hsl(200, 15%, 8%);
    --dark-mode-background: hsl(207, 26%, 17%);
    --dark-mode-elements: hsl(209, 23%, 22%);
    --its-white: hsl(0, 100%, 100%);
    /*Accessibility & Interactivity*/
    --input-focus: hsl(198, 100%, 92%);
    --invalid-response: hsl(0, 81%, 39%);
    --valid-response: hsl(145, 81%, 39%);

}
/*ACCESSIBILITY & INTERACTIVITY=============================*/
input:focus, select:focus{
    background-color: var(--input-focus);
}

input:user-valid{
    outline: var(--valid-response);
}
input:user-invalid{
    outline: var(--invalid-response);
}

#search-error{
    padding-left: 0.5vw;
    margin-top: 1vw;
    font-style: italic;
    color: var(--invalid-response);
}

/*FONT=============================*/
body{
    font-family: "Nunito Sans",Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 1.5rem;
    font-weight: 800;
}
h2{
    font-size: 1.25rem;
    font-weight: bold;
}
/*HEADER=====================================*/
header{
    padding: 0 8vw;
    background-color: var(--its-white);
}

#header-content-container{
    height: 4vw;
    width: 100%;
}
#theme-toggler{
    background-color: transparent;
    border: transparent;
}
#toggle-text{
    font-weight:600;
}
/*MAIN CONTENT===============================*/
main{
    padding: 0 8vw;
    background-color: var(--light-mode-background);
}

/*Interaction Query Container*/
#interaction-query-container{
    margin: 0 0.5vw;
    padding: 2vw 0;
}
#country-search-bar{
    width: 35vw;
    height: 3vw;
    padding-left: 1vw;
    border-color: transparent;
    border-radius: var(--input-border-rounded);
}
#region-select{
    height: 3vw;
    width: 10vw;
    padding-left: 1vw;
    border-color: transparent;
    border-radius: var(--input-border-rounded);

    appearance: none;
}
option{
    display: flex;
    border: transparent;
}

select option:last-of-type{
    border-radius: 5vw;
}

/*Cards*/
ul{
    gap: 4vw 0;
}
.card{
    width: 16vw;
    margin-right: 4vw;
    padding: 0;
}
.card-img-top{
    height: 9.5vw; 
    background-color: rgb(211, 211, 211);
}
.card-body{
    padding: 1vw;
}

/*MOBILE*/
@media (max-width: 450px){
    #search-error{
        margin-top: -7vw;
        margin-bottom: 5vw;
    }
    
    h1{
        font-size: 1rem;
    }
    h2{
        font-size: 0.75rem;
    }
    /*HEADER*/
    #header-content-container{
        height:20vw;
        padding-top: 2vw;
    }
    /*Interaction Query Container*/
    #interaction-query-container{
        padding-top: 3vw;
    }
    #country-search-bar{
        width: 80vw;
        height: 10vw;
        margin-bottom: 10vw;
        margin-top: 3vw;
        border-radius: var(--input-border-rounded-mobile);
    }
    #region-select{
        height: 13vw;
        width: 50vw;
        border-radius: var(--input-border-rounded-mobile);
    }

    /*CARDS*/
    .card{
        width: 61vw;
        margin: auto 0 10.5vw 5vw;
    }

    .card-img-top{
    height: 36vw; 
    }

}